[Desktop Entry]
Encoding=UTF-8
Name=WmTimer
Comment=Alarm clock
Comment[pl]=Budzik
Exec=wmtimer
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
